ASSIGNMENT8.json
[{"id":"ba37fe74.38496","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"1ec769d4.2983a6","type":"cloudant out","z":"ba37fe74.38496","name":"","cloudant":"","database":"esp32data","service":"nikhil-iot-app-cloudant-1621487625875-67724","payonly":false,"operation":"insert","x":450,"y":400,"wires":[]},{"id":"ef17bc23.66d9d","type":"debug","z":"ba37fe74.38496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":320,"wires":[]},{"id":"250c23e4.e6d3bc","type":"ui_form","z":"ba37fe74.38496","name":"","label":"","group":"8478e94b.acc918","order":0,"width":0,"height":0,"options":[{"label":"date","value":"date","type":"text","required":true,"rows":null},{"label":"time","value":"time","type":"text","required":true,"rows":null}],"formValue":{"date":"","time":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":210,"y":360,"wires":[["ef17bc23.66d9d","1ec769d4.2983a6"]]},{"id":"8bbfb58d.285438","type":"inject","z":"ba37fe74.38496","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"pump","payloadType":"str","x":90,"y":160,"wires":[["52e7be80.c6627"]]},{"id":"2d157582.e79cba","type":"debug","z":"ba37fe74.38496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":80,"wires":[]},{"id":"29150045.a7d67","type":"debug","z":"ba37fe74.38496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":200,"wires":[]},{"id":"bca920a0.20764","type":"inject","z":"ba37fe74.38496","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2dc1253fcf65f2739cf564c243cf7ad6","payloadType":"str","x":90,"y":220,"wires":[["e5a5f7f8.6c29a8"]]},{"id":"bf7cbc0.2048548","type":"ui_toast","z":"ba37fe74.38496","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"the pump is on","name":"pump controller","x":660,"y":140,"wires":[]},{"id":"92dd6b8e.b97528","type":"ui_toast","z":"ba37fe74.38496","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"the pump is off","name":"pump controller","x":670,"y":280,"wires":[[]]},{"id":"52e7be80.c6627","type":"http request","z":"ba37fe74.38496","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://51495a42-9057-43f5-adeb-3506b2eb7f7d-bluemix.cloudant.com/esp32data/_all_docs?include_docs=true","tls":"","persist":false,"proxy":"","authType":"basic","x":270,"y":160,"wires":[["2d157582.e79cba","38c7536b.58542c"]]},{"id":"e5a5f7f8.6c29a8","type":"http request","z":"ba37fe74.38496","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://51495a42-9057-43f5-adeb-3506b2eb7f7d-bluemix.cloudant.com/esp32data/_all_docs?include_docs=true","tls":"","persist":false,"proxy":"","authType":"basic","x":310,"y":220,"wires":[["29150045.a7d67","7c6d050f.39cdcc"]]},{"id":"38c7536b.58542c","type":"function","z":"ba37fe74.38496","name":"pump on","func":"msg.payload=msg.payload.rows[1].doc.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":160,"wires":[["bf7cbc0.2048548"]]},{"id":"7c6d050f.39cdcc","type":"function","z":"ba37fe74.38496","name":"pump off","func":"msg.pay;load=msg.payload.rows[0].doc.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":260,"wires":[["92dd6b8e.b97528"]]},{"id":"8478e94b.acc918","type":"ui_group","name":"connection","tab":"ac3b1ea2.f637c","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac3b1ea2.f637c","type":"ui_tab","name":"pump controller","icon":"dashboard","disabled":false,"hidden":false}]